.tabs{
  background: #e4e4e4;
  color: #db0940;
  padding: 10px 10px 0px 10px;
  font-family: Futura light, sans-serif;
  display: flex;
  margin: 0 0 0 0;

}

.tabs h3{
  font-weight: bold;
  font-size: 19px;
}

.tab-item{
  flex: 1 0 auto;
  text-align: center;
  background: #f6f7f7;
}

.tab-item:first-child {
  border-radius: 10px 0 0 0;
}

.tab-item:last-child {
  border-radius: 0 10px 0 0;
}

#can{
  height: 60px;
  position: absolute;
  left: 15px;
}
